<ng-container *ngIf="!state.isLocked">
    <todo-new-item (itemChange)="onItemAdded($event)">

    </todo-new-item>
    <todo-item *ngFor="let item of state.items;trackBy: trackByFn"
               [item]="item.model"
               [syncMode]="item.syncMode"
               (itemChange)="onItemChange(item, $event)"
               (isDeletedChange)="onItemDeleted(item)">
    </todo-item>
    <span *ngIf="!state.isInit">Loading...</span>
</ng-container>
<ng-container *ngIf="state.isLocked">
    Waiting...
</ng-container>
<style>
    todo-item {
        margin: 10px;
    }

    .l-status {
        margin-top: 20px;
        font-size: 0.8rem;
    }
</style>
