<div *ngIf="isViewMode()" class="l-text" [class.l-text-completed]="state.item?.status">
    Add a new task
</div>
<div *ngIf="isEditMode()" class="l-input">
    <input #input
           type="text"
           [value]="state.editableText"
           (input)="modifyState('editableText', $event.target.value)"
           (blur)="onEditBlur()"
           (keydown)="onInputKeyDown($event)">
    <life-cycle (onInit)="onInputInit(input)"></life-cycle>
</div>
<style>
    :host {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        margin: 10px;
        width: 400px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 0 5px;
        cursor: pointer;
    }

        :host:hover {
            background: rgb(206, 212, 218);
        }

    .l-text {
        flex: 1 1 auto;
    }

    .l-text-completed {
        text-decoration: line-through;
    }

    .l-input {
        flex: 1 1 auto;
    }

    .l-input input{
        width: 100%;
    }

    .l-buttons button {
        margin-left: 5px;
    }

    .l-buttons {
        flex: 0 1 auto;
    }

    @keyframes flickerAnimation {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-o-keyframes flickerAnimation {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes flickerAnimation {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes flickerAnimation {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .animate-flicker {
        -webkit-animation: flickerAnimation 3s infinite;
        -moz-animation: flickerAnimation 3s infinite;
        -o-animation: flickerAnimation 3s infinite;
        animation: flickerAnimation 3s infinite;
    }
</style>
