<div *ngIf="isViewMode()" class="l-text" [class.l-text-completed]="state.item?.status">
    {{state.visibleText}}<span *ngIf="state.isDirty">*</span>
</div>
<div *ngIf="isEditMode()" class="l-input">
    <input #input
           type="text"
           [value]="state.editableText"
           (input)="modifyState('editableText', $event.target.value)"
           (blur)="onEditBlur()"
           (keydown)="onInputKeyDown($event)">
    <life-cycle (onInit)="onInputInit(input)"></life-cycle>
</div>
<div class="l-buttons" *ngIf="state.isButtonsVisible">
    <button class="btn btn-primary btn-sm" type="submit" (click)="onCompleteClick($event)">Complete</button>
    <button class="btn btn-danger btn-sm" type="submit" (click)="onDeleteClick($event)">Delete</button>
</div>
<style>
    :host {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        margin: 10px;
        width: 400px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 0 5px;
    }

        :host:hover {
            background: rgb(206, 212, 218);
        }
    .l-text {
        flex: 1 1 auto;
    }
    .l-text-completed {
        text-decoration: line-through;
    }
    .l-input {
        flex: 1 1 auto;
    }
    .l-buttons button {
        margin-left: 5px;
    }
    .l-buttons {
        flex: 0 1 auto;
    }
</style>
