<div class="l-buttons" *ngIf="state.isButtonsVisible">
    <button *ngIf="state.item?.status" class="btn" type="submit" (click)="onCompleteClick($event)">
        <svg class="icon">
            <use xlink:href="#icon-checkbox-outline"></use>
        </svg>
    </button>
    <button *ngIf="!state.item?.status" class="btn" type="submit" (click)="onCompleteClick($event)">
        <svg class="icon">
            <use xlink:href="#icon-square-outline"></use>
        </svg>
    </button>
</div>

<div *ngIf="isViewMode()" class="l-text" [class.l-text-completed]="state.item?.status" [class.l-text-error]="state.syncMode === 'error'" (click)="onCompleteClick($event)">
    {{state.visibleText}}
</div>
<div *ngIf="isEditMode()" class="l-input">
    <input #input
           type="text"
           [value]="state.editableText"
           (input)="modifyState('editableText', $event.target.value)"
           (blur)="onEditBlur()"
           (keydown)="onInputKeyDown($event)">
    <life-cycle (onInit)="onInputInit(input)"></life-cycle>
</div>
<div class="l-buttons" *ngIf="state.isButtonsVisible">
    <svg class="icon animate-flicker" *ngIf="state.isCloudIndicatorVisible">
        <use xlink:href="#icon-cloud-upload"></use>
    </svg>
    <svg class="icon icon-inactive" *ngIf="state.isClockIndicatorVisible">
        <use xlink:href="#icon-cloud-upload"></use>
    </svg>

    <button class="btn" type="submit" *ngIf="state.isEditVisible" (click)="onEditClick($event)">
        <svg class="icon">
            <use xlink:href="#icon-edit"></use>
        </svg>
    </button>
    <button class="btn" type="submit" (click)="onDeleteClick($event)" *ngIf="state.isDeleteVisible">
        <svg class="icon">
            <use xlink:href="#icon-delete"></use>
        </svg>
    </button>
    <button class="btn" type="submit" (click)="onRefreshClick($event)" *ngIf="state.isRefreshVisible">
        <svg class="icon">
            <use xlink:href="#icon-refresh"></use>
        </svg>
    </button>
</div>
<style>
    :host {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        margin: 10px;
        width: 400px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 0 5px;
    }

        :host:hover {
            background: rgb(206, 212, 218);
        }

    .l-text {
        flex: 1 1 auto;
        cursor: pointer;
        user-select:none;
        white-space:nowrap;
        text-overflow: ellipsis;
        margin-right: 10px;
        overflow: hidden;
    }

    .l-text-completed {
        text-decoration: line-through;
    }
    .l-text-error {
        color: red;
    }
    .l-input {
        flex: 1 1 auto;
    }
        .l-input input {
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
        }

    .l-buttons button {
        margin-left: 5px;
    }

    .icon{
        vertical-align: middle;
    }

    .l-buttons {
        flex: 0 1 auto;
        white-space: nowrap;
    }

    @keyframes flickerAnimation {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-o-keyframes flickerAnimation {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes flickerAnimation {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes flickerAnimation {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .animate-flicker {
        -webkit-animation: flickerAnimation 3s infinite;
        -moz-animation: flickerAnimation 3s infinite;
        -o-animation: flickerAnimation 3s infinite;
        animation: flickerAnimation 3s infinite;
    }
</style>
