<span
    class="l-box"
    [class.l-boxRound]="state.round"
    [class.l-box-checked]="state.boxChecked"
    [class.l-box-checked-round]="state.checked && state.round"
    [class.l-disabled]="state.disabled">
</span>
<span><ng-content></ng-content></span>
<style>
    :host {
        display: inline-block;
        line-height: 1rem;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        outline: 0;
        cursor: pointer;
    }

    .l-box {
        position: relative;
        display: inline-block;
        width: 14px;
        height: 14px;
        min-width: 14px;
        min-height: 14px;
        vertical-align: middle;
        margin-right: 5px;
    }

    :host:focus .l-box {
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
    }

    .l-box::before {
        background-color: transparent;
        border: 1px solid #999;
        border-radius: 2px;
        content: '';
        height: 14px;
        position: absolute;
        width: 14px;
    }

    .l-boxRound::before {
        border-radius: 50%;
    }

    .l-box-checked::before {
        background-color: #757de8;
        border-color: #757de8;
    }

    .l-box-checked::after {
        -webkit-transform: scaleX(-1) rotate(135deg);
        -moz-transform: scaleX(-1) rotate(135deg);
        -o-transform: scaleX(-1) rotate(135deg);
        -ms-transform: scaleX(-1) rotate(135deg);
        transform: scaleX(-1) rotate(135deg);
        border-color: #fff #fff #fff transparent;
        border-style: solid;
        border-width: 2px 2px 0 0;
        content: '';
        height: 10px;
        position: absolute;
        width: 4px;
        left: 5px;
        margin-top: 0;
        top: 1px;
    }
    .l-box-checked-round::before {
        background-color: #757de8;
        border: 1px solid #757de8;
    }

    .l-box-checked-round::after {
        background-color: #fff;
        border: 2px solid #fff;
        content: '';
        height: 4px;
        left: 4px;
        position: absolute;
        top: 4px;
        width: 4px;
        border-radius: 50%;
    }

    .l-disabled::before {
        border-color: #bdbdbd;
    }

    .l-box-checked.l-disabled::before {
        background-color: #bdbdbd;
    }
</style>
