<div class="l-box" [class.l-box-hidden]="state.isOpen" [class.l-box-focus-frame]="state.focused" (click)="modifyStateDiff(state.toggle())">
    <ng-container *ngTemplateOutlet="state.itemTemplate;context: state.itemTemplateContext"></ng-container>
    <svg class="l-drop-down-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M128 192l128 128 128-128z" /></svg>
</div>
<div class="l-popover" *ngIf="state.isOpen" [class.l-box-focus-frame]="state.focused">
    <div class="l-box" (click)="modifyStateDiff(state.toggle())">
        <ng-container *ngTemplateOutlet="state.itemTemplate; context: state.itemTemplateContext"></ng-container>
        <svg class="l-drop-down-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M128 192l128 128 128-128z" /></svg>
    </div>
    <select-list
        [@openClose]="state.contentAnimationState"
        (@openClose.done)="modifyStateDiff(state.onOpenAnimationDone($event.toState))"
        class="l-popover-content"
        [class.l-popover-content-opened]="state.isOpenAnimationDone"

        [selected]="state.selected"
        (selectedChange)="modifyState('selected', $event)"
        (selectedItemChange)="modifyState('selectedItem', $event)"
        [items]="state.items"
        [idMember]="state.idMember"
        [textMember]="state.textMember"
        (close)="modifyStateDiff(state.toggle())"
        [itemTemplate]="state.itemTemplateIn"

        #el
        life-cycle
        (onInit)="modifyState('elDropPane', el.state.rootElement)"
        (onDestroy)="modifyState('elDropPane', null)">

    </select-list>
</div>
<ng-template #itemTemplateDefault>
    {{state.text}}
</ng-template>
<style>
    :host {
        display: inline-block;
        width: 200px;
        outline: 0;
        position: relative;
    }

    * {
     box-sizing: border-box;
    }

    .l-box {
        position: relative;
        width: 100%;
        min-width: 100%;
        border: 1px solid gray;
        border-radius: 0.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 5px;
        padding-right: 15px;
        cursor: pointer;
        user-select: none;
    }

    .l-drop-down-icon {
        position: absolute;
        right: 0;
        top: 50%;
        height: 20px;
        width: 20px;
        margin-top: -10px;
    }

    .l-box-hidden {
        visibility: hidden;
    }

    .l-popover {
        position: absolute;
        z-index: 10;
        right: 0;
        left: 0;
        top: 0;
        border: 1px solid gray;
        border-radius: 0.25rem;
        background-color: white;
    }

        .l-popover .l-drop-down-icon {
            transform: rotate(180deg);
        }

        .l-popover > .l-box {
            border: 0;
        }

    .l-popover-content {
        border-top: 1px solid gray;
    }

    .l-popover-content-opened {
        overflow-y: auto;
    }

    .l-box-focus-frame {
        border-radius: 0.25rem;
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
    }

    select-list {
        display: block;
        outline: 0;
        max-height: 300px;
        overflow: hidden;
    }
</style>
