<div
    *ngFor="let i of state.viewItems"
    class="l-item"
    [class.l-item-focused]="i.focused && !i.selected"
    [class.l-item-selected]="i.selected"
    #el
    life-cycle (onInit)="onItemInit(i, el)"
    (mouseenter)="onItemMouseEnter(i)"
    (click)="onItemClick(i)"
>
    {{i.text}}
</div>
<style>
    .l-item{
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
    }

    .l-item-focused {
        background-color: #F5F5F6;
    }

    .l-item-selected {
        background-color: #757de8;
        color: white;
    }

    
</style>
