<div class="field">
    <label for="arg1Input">Argument 1:</label>
    <input type="text" id="arg1Input" [value]="arg1Text" (input)="onInput('arg1Text', $event)" [class.error]="arg1Error">
</div>

<div class="field">
    <radio-list [items]="operations" valueProperty="id" titleProperty="title" [selected]="operation" (selectedChange)="operation = $event"></radio-list>
</div>

<div class="field">
    <label for="arg2Input">Argument 2:</label>
    <input type="text" id="arg2Input" [value]="arg2Text" (input)="onInput('arg2Text', $event)" [class.error]="arg2Error">
</div>

<div class="field">
    <span>= {{result != null ? result.toString() : "N/A"}}</span>
</div>

<style>
    .field {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
</style>
