<div class="field">
    <label for="arg1Input">Argument 1:</label>
    <input type="text" id="arg1Input" [value]="arg1Text" (input)="arg1Text = $event.target.value" [class.error]="arg1Error">
</div>

<div class="field">
    <radio-list [items]="operations" valueProperty="id" titleProperty="title" [selected]="operation" (selectedChange)="operation = $event"></radio-list>
</div>
<div class="field">
    <label for="arg2Input">Argument 2:</label>
    <input type="text" id="arg2Input" [value]="arg2Text" (input)="arg2Text = $event.target.value" [class.error]="arg2Error">
</div>

<div class="field">
    <span>= {{result != null ? result.toString() : "N/A"}}</span>
</div>

<style>
    .field {
        display: inline-block
    }
</style>
