<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to ngSetState Demo
    </h1>
</div>
<tabs>
    <tab-pane title="ToDo List" (isVisibleChange)="modifyState('todoListVisible',$event)">
        <p>Save request takes 3 seconds and sometimes it fails (this behavior is simulated). However, you can edit “TODO” items in real time – all changes will be queued and will be performed when previous operations are done. If you leave the tab when some saving operation is running the list will be destroyed, but operation will be continued, and state will be updated. It can lead to a component blocking to prevent states conflict.</p>
        <p>Also, the list waits for a 2 second period of "silence" when there are no any changes and only then it starts saving the changed data.</p>
        <div class="main-content" *ngIf="state.todoListVisible">
            <todo-list></todo-list>
        </div>
    </tab-pane>
    <tab-pane title="Drop-Down" (isVisibleChange)="modifyState('dropDownVisible',$event)">
        <div class="main-content" *ngIf="state.dropDownVisible">
            <drop-down-demo></drop-down-demo>
        </div>
    </tab-pane>
    <tab-pane title="Calculator" (isVisibleChange)="modifyState('calculatorVisible',$event)">
        <div class="main-content" *ngIf="state.calculatorVisible">
            <calculator-demo></calculator-demo>
        </div>
    </tab-pane>
</tabs>
<style>
    .main-content {
        margin: 20px;
    }

    p {
        margin: 10px;
    }
</style>
