<tabs [selectedId]="selectedTab" (selectedIdChange)="selectedTab = $event">
    <tab-pane label="Intro" id="intro">
        <p>Ng-Set-State it is a library that helps developing angular components in a more functional style where UI logic is representing as a series of immutable state transitions.</p>
        <ul>
            <li><a href="https://itnext.io/angular-components-with-extracted-immutable-state-86ae1a4c9237?source=friends_link&sk=3d9422a57d8ac49a4b1c8de39d6fc0b3">Angular Components with Extracted Immutable State</a> - an article on Medium that explains the ideas of this library.</li>
            <li><a href="https://github.com/0x1000000/ngSetState/blob/master/README.md"></a>Documentation</li>
        </ul>
    </tab-pane>
    <tab-pane label="Calculator" id="calculator">
        <div class="main-content" *ngIf="selectedTab == 'calculator'">
            <calculator-demo></calculator-demo>
        </div>
        <p><a href="https://github.com/0x1000000/ngSetState/blob/master/demo/src/app/calculator/calculator.state.ts">Source Code</a></p>
        <div class="main-content">
            <h3>State internal dependency graph</h3>
            <img src="https://miro.medium.com/max/1400/1*RIDkhjTnN3NTyPWFC5ZfTQ.png" style="width: 700px;" />
        </div>
    </tab-pane>
    <tab-pane label="Drop-Down" id="dropDown">
        <div class="main-content">
            <drop-down-demo></drop-down-demo>
        </div>
        <p><a href="https://github.com/0x1000000/ngSetState/blob/master/demo/src/app/controls/drop-down.state.ts">Source Code</a></p>
    </tab-pane>
</tabs>
<style>
    .main-content {
        margin: 20px;
    }

    p {
        margin: 10px;
    }
</style>
