<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to ngSetState Demo
    </h1>
</div>
<tabs>
    <tab-pane title="Calculator" (isVisibleChange)="modifyState('calculatorVisible',$event)">
        <div class="main-content" *ngIf="state.calculatorVisible">
            <calculator-demo></calculator-demo>
        </div>
    </tab-pane>
    <tab-pane title="ToDo List"  (isVisibleChange)="modifyState('todoListVisible',$event)">
        <div class="main-content" *ngIf="state.todoListVisible">
            <todo-list></todo-list>
        </div>
    </tab-pane>
</tabs>
<style>
    .main-content {
        margin: 20px;
    }
</style>
